node_modules/
.env
cv_sections.csv
uploads/*
!uploads/Saads_CV_Resume.pdf
!uploads/resume1.pdf
!uploads/resume2.pdf
!uploads/Saad_Ali_ResumeCV_Old.pdf
vite.config.js.timestamp-*.mjs
vite.config.mjs.timestamp-*.mjs
vite.config.cjs.timestamp-*.mjs
vite.config.ts.timestamp-*.mjs
vite.config.mts.timestamp-*.mjs
vite.config.cts.timestamp-*.mjs
vitest.config.js.timestamp-*.mjs
vitest.config.mjs.timestamp-*.mjs
vitest.config.cjs.timestamp-*.mjs
vitest.config.ts.timestamp-*.mjs
vitest.config.mts.timestamp-*.mjs
vitest.config.cts.timestamp-*.mjs
